.base-vars {
    @color: #2ee0d8;
    @color2: #f14e32;
    @color3: #0388a6;

    @color4: #4e443c;
    @color5: #ebe9e1;
    @color6: #9a9994;
};

body {
    background: #f9f9f9 url(/static/image/bg.jpg) repeat scroll 0px 0px;
    font-family: Helvetica, Tahoma, Arial, STXihei, 
        "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

    height: 100%;
    overflow: hidden;
}

@import 'normalize.css';

#header {
    display: none;
    .header-vars {
        .base-vars;
        @border-color: lighten(@color4, 10%);
        @height: 48px;
    };
    .header-vars;

    height: @height;
    line-height: @height;

    border-bottom: 1px solid @border-color;
    width: 100%;
    clear: both;
    position: fixed;
    background: rgba(0,0,0,0.3);
    z-index: 10;
}

#nav-box {
    .nav-box-vars {
        .base-vars;
        @size: 32px;
    };
    .nav-box-vars;

    display: inline-block;
    width: 100%;

    position: fixed;
    background: rgba(red(@color4), green(@color4), blue(@color4), 0.9);
    z-index: 1000;

    .nav {
        padding: 0 32px;
        width: 100%;
        display: inline-block;
    }

    .nav-list {
        height: @size;
        line-height: @size;
        width: 100%;
    }

    .nav-item {
        height: @size;
        line-height: @size;
        min-width: @size;

        font-weight: bold;
        color: @color2;
        display: inline-block;

        i {
            height: @size;
            line-height: @size;
            min-width: @size;
            text-align: center;

            cursor: pointer;
        }
    }

    .small-text {
        color: @color6;
        font-size: 12px;
        //position: absolute;
        font-weight: 100;
    }
}

#footer {
    display: none;
    .footer-vars {
        .base-vars;
        #header > .header-vars;
        @height: 32px;
    };
    .footer-vars;

    border-top: 1px solid @border-color;
    height: @height;
    line-height: @height;
    width: 100%;
    clear: both;

    position: fixed;
    background: @color5;
    bottom: 0;
    z-index: 10;
}

.wrapper {
    .wrapper-vars {
        
    };
    .wrapper-vars;

    height: 100%;
    width: 100%;
}

#main {
    .main-vars {
        .base-vars;
    };
    .main-vars;

    height: 100%;

    .column-box {
        position: relative;
        display: inline-block;
        min-width: 256px;
        height: 100%;
        margin-right: 6px;
        background: @color5;
        overflow: scroll;
    }

    .column {
        width: 100%;
        position: absolute;
    }
}

#item-list-column-box {
    .base-vars;

    width: 100%;
    left: 256px;
    border-left: 1px solid @color6;
    -webkit-transition: left 0.1s linear;

    &:hover {
        left: 32px;
        -webkit-transition: left 0.1s linear;
    }
}
#item-list-box {
    .item-list {
    }

    width: 100%;

    .item {
        .item-vars {
            .base-vars;
            @height: 64px;
        };
        .item-vars;

        height: @height - 1;
        line-height: @height - 1;
        padding: 0 8px;

        border-top: 1px solid lighten(@color6, 20%);
        &:first-child {
            border-top: 0;
        }
    }
}

#picture-list-column-box {
    width: 256px;
    position: absolute !important;
}
#picture-list-box {
    .picture-list {
        display: inline-block;
    }

    display: inline-block;

    .item {
        .item-vars {
            .base-vars;
            @size: 64px;
        };
        .item-vars;

        height: @size;
        width: @size;

        box-shadow: 0 0 1px @color6;
        cursor: pointer;
        -webkit-transition: box-shadow 0.3s linear;
        float: left;
        overflow: hidden;
        background: @color4;

        &:hover {
            box-shadow: 0 0 8px @color4;
            -webkit-transition: box-shadow 0.3s linear;
        }
    }

    .item-img {
        .item > .item-vars;

        max-height: @size;
        max-width: @size;
    }
}
