<html>
<head>
<title>sachiel mobile</title>

<link rel="shortcut icon" href="/static/favicon.jpg" type="image/x-icon" />
<link rel="icon" href="/static/favicon.jpg" type="image/x-icon" />
<link rel="apple-touch-icon" href="/static/favicon.jpg">
<link rel="apple-touch-startup-image" href="//static/favicon.jpg">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<meta name="mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="aapple-mobile-web-app-capable"pple-mobile-web-app-capable" content="yes" />

</head>

<body>
<video id="video" autoplay=""></video>
sachiel mobile
</body>

<script data-main="/static/script/m_main" src="/static/script/third_party/require.js"></script>
</html>

