<html>
<head>
<title>sachiel mobile</title>

<link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon" />
<link rel="icon" href="/static/favicon.png" type="image/x-icon" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="/static/favicon.jpg">
<link rel="apple-touch-startup-image" href="/static/favicon.jpg">

<meta name="mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<style>
#cam, #cap, #snap {
    border: 1px solid #999;
    clear: both;
}

#cap {
}
</style>

</head>

<body>
cam
<video id="cam" autoplay=""></video>

shot
<canvas id="cap" width="340" height="340"></canvas> 
<img id="snap" src="" alt="">
<hr />
<button id="switch-cam">切换镜头</button>
<button id="take-a-shot">拍摄</button>
<button id="send">发送</button>

</body>

<script data-main="/static/script/m_main" src="/static/script/third_party/require.js"></script>
</html>

