<html>

<head>
<title>sachiel pc</title>
<link rel="icon" href="/static/favicon.png" type="image/x-icon" />
<link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon" />

<link rel="stylesheet" href="/static/style/third_party/fontawesome/css/font-awesome.css" />
<link rel="stylesheet/less" type="text/css" href="/static/style/less/main.less" />
<script src="/static/script/third_party/less.js"></script>
</head>

<body>

<div id="header">
</div>

<div id="nav-box">
    <div class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <span>Attach image to product</span>
                <span class="small-text">demo</span>
            </li>
            <li class="nav-item">
                <i class="fa fa-bars"></i>
            </li>
        </ul>
    </div>
</div>

<div id="main" class="wrapper">

    <div id="picture-list-column-box" class="column-box">
        <div class="column">
            <div id="picture-list-box">
                <ul class="picture-list">
                    <li class="item">
                        <img class="item-img" src="/static/image/T2vCq5XopXXXXXXXXX_!!50035.jpg" />
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="item-list-column-box" class="column-box">
        <div class="column">
            <div id="item-list-box">
                <ul class="item-list">
                    {{ #items }}
                    <li class="item">{{ name }}, {{ describe }}, {{ original_price }}</li>
                    {{ /items }}
                </ul>
            </div>
        </div>
    </div>

</div>

<div id="footer">
    footer
</div>

</body>

<script data-main="/static/script/pc_main" src="/static/script/third_party/require.js"></script>
</html>
