<html>

<head>
<title>sachiel pc</title>
<link rel="icon" href="/static/favicon.png" type="image/x-icon" />
<link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon" />
<link rel="stylesheet/less" type="text/css" href="/static/style/less/main.less" />
<script src="/static/script/third_party/less.js"></script>
</head>

<body>
<div id="header">
    header
</div>

<div id="main" class="wrapper">
    <div class="main-left-box">
        <div id="picture-list"></div>
    </div>

    <div class="resize-bar"></div>

    <div class="main-right-box">
        <div id="item-list-box">
            <ul class="item-list">
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
                <li class="item">item</li>
            </ul>
        </div>
    </div>
</div>

<div id="footer">
    footer
</div>

</body>

<script data-main="/static/script/pc_main" src="/static/script/third_party/require.js"></script>
</html>
